spark/.DS_Store
spark/.presentation.tex.swp
spark/Figures/.DS_Store
spark/missfont.log
spark/presentation.aux
spark/presentation.fdb_latexmk
spark/presentation.fls
spark/presentation.log
spark/presentation.nav
spark/presentation.out
spark/presentation.pdf
spark/presentation.snm
spark/presentation.toc
spark/presentation.vrb
spark_lab/.DS_Store
spark_lab/marco/.DS_Store
spark_lab/marco/LDSA-Spark-master/.gitignore
.DS_Store
spark_lab/.gitignore
spark_lecture/.presentation.tex.swp
spark_lecture/missfont.log
spark_lecture/presentation.aux
spark_lecture/presentation.fdb_latexmk
spark_lecture/presentation.fls
spark_lecture/presentation.log
spark_lecture/presentation.nav
spark_lecture/presentation.out
spark_lecture/presentation.pdf
spark_lecture/presentation.snm
spark_lecture/presentation.toc
spark_lecture/presentation.vrb
storage_lecture/.presentation.tex.swo
storage_lecture/.presentation.tex.swp
storage_lecture/missfont.log
storage_lecture/presentation.aux
storage_lecture/presentation.fdb_latexmk
storage_lecture/presentation.fls
storage_lecture/presentation.log
storage_lecture/presentation.nav
storage_lecture/presentation.out
storage_lecture/presentation.pdf
storage_lecture/presentation.snm
storage_lecture/presentation.toc
storage_lecture/presentation.vrb
storage_lab/.storage.tex.swp
storage_lab/pbpreprint.cls
storage_lab/storage.aux
storage_lab/storage.fdb_latexmk
storage_lab/storage.fls
storage_lab/storage.log
storage_lab/storage.out
storage_lab/storage.pdf
storage_lab/storage.toc