spark/.DS_Store
spark/.presentation.tex.swp
spark/Figures/.DS_Store
spark/missfont.log
spark/presentation.aux
spark/presentation.fdb_latexmk
spark/presentation.fls
spark/presentation.log
spark/presentation.nav
spark/presentation.out
spark/presentation.pdf
spark/presentation.snm
spark/presentation.toc
spark/presentation.vrb
